# dockerignore
/.dockerignore
/.git
/.gitignore
/CHANGELOG.md
/coverage
/deploy
/docs
/fixture
/generated
/locales
/results
/key

# not needed by inheriting projects
/docker-compose-e2e-workflow.yaml
/modules/boilerplate
/modules/login
/modules/page-elements/tests
/modules/pages/tests
