//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form/input.pug
include ../../page-elements/views/form/hidden.pug
include ../../page-elements/views/form/checkbox.pug
include ../../page-elements/views/form/radio.pug
include ../../page-elements/views/form/select.pug
include ../../page-elements/views/form/textarea.pug
include ../../page-elements/views/form/submit.pug

include widgets/defaults.pug

block title
  | Formular

append breadcrumbs
  li.header-breadcrumb
    .header-breadcrumb-label Formular

block content
  div#user.user.flex-wrapper

    include widgets/header.pug

    #user-container.user-container.flex-block.flex-center
      h2.subheadline Formular
      if (error)
        .error #{__(error, post.username)}
      form#loginform.loginform(method='POST', action='/boilerplate/form/')
        + hidden('hiddeninput', 'wert')
        + input('text', 'textinput', post.username, 30, 'Texteingabe')
        + input('button', 'buttoninput', 'hier klicken', null, 'Button')
        + input('password', 'password', null, 30, 'Passwort')
        + checkbox('checkbox', 'stay', 'Möglichkeit', 'eingeloggt bleiben')
        + radio('radio', 'Auswahl', { klick: 'mal klicken', klock: 'oder hier' })
        + select('select', 'Auswahlliste', { '': 'bitte wählen', opt1: 'dies', opt2: 'das' }, 'vielleicht ein Pflichtfeld')
        + textarea('textareainput', 'steht schon was', 30, 5, 'Langtextfeld')
        + submit('anmelden')
