//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form.pug

append head
  link(rel='stylesheet', href='/'+ moduleName + '/layout.css')
  script(src='/'+ moduleName + '/script.js')

block title
  | Formular

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/'+ moduleName + '/')= module.name
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/'+ moduleName + '/form/') Formular

block content
  div#formular.formular
    h1#headline.headline= module.name
    #formular-container.formular-container
      h2.subheadline Formular
      if locals.error
        .error #{__(error, post.username)}
      if locals.values && Object.keys(locals.values).length > 0
        pre#postdata= JSON.stringify(values, null, 2)
      + form(modules[moduleName].form, '/'+ moduleName + '/form/')
