//- index.pug
extends ../../pages/views/page.pug

include ../../page-elements/views/form/field.pug
include ../../page-elements/views/form/hidden.pug
include ../../page-elements/views/form/select.pug
include ../../page-elements/views/form/textarea.pug
include ../../page-elements/views/form/group.pug
include ../../page-elements/views/form/address.pug

include widgets/defaults.pug

block title
  | Formular

append breadcrumbs
  li.header-breadcrumb
    .header-breadcrumb-label Formular

block content
  div#formular.formular.flex-wrapper

    include widgets/header.pug

    #formular-container.formular-container.flex-block.flex-center
      h2.subheadline Formular
      if (error)
        .error #{__(error, post.username)}
      form#loginform.loginform(method='POST', action='/boilerplate/form/')
        + hidden('hiddeninput', 'wert')
        + field('Texteingabe', {
            type: 'text',
            name: 'textinput',
            size: 30
          })
        + field('Button', {
            type: 'button',
            name: 'buttoninput',
            value: 'hier klicken'
          })
        + field('Passwort', {
            type: 'password',
            name: 'passwordinput',
            size: 30
          })
        + field('Möglichkeit', {
            type: 'checkbox',
            name: 'checkboxinput',
            value: 'gewählt'
          }, 'kann man wählen')
        + field('Auswahl', {
            type: 'radio',
            name: 'radioinput',
            entries: { klick: 'mal klicken', klock: 'oder hier' }
          })
        + select('select', 'Auswahlliste', { '': 'bitte wählen', opt1: 'dies', opt2: 'das' }, 'vielleicht ein Pflichtfeld')
        + textarea('textareainput', 'steht schon was', 30, 5, 'Langtextfeld')
        + group('Feldgruppe', 'group1', [{
            type: 'text',
            name: 'grouptextinput1',
            size: 4
          },
          {
            type: 'text',
            name: 'grouptextinput2',
            size: 8
          },
          {
            type: 'radio',
            name: 'groupradioinput',
            value: 'gewählt',
            entries: { klick: 'mal klicken', klock: 'oder hier' }
          }])
        + address('Adresse', 'address', 'address-')
        + field('', {
            type: 'submit',
            value: 'anmelden',
            class: 'submit'
          })
