//- index.pug
extends ../../pages/views/page.pug

include ../../login/views/includes/loginform.pug

append head
  link(rel='stylesheet', href='/'+ modulePath + '/layout.css')
  script(src='/'+ modulePath + '/script.js')

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href=href('/'))= module.name

block content
  div#boilerplate.boilerplate
    h1#headline.headline= module.name
    #boilerplate-container.boilerplate-container
      h2.boilerplate-headline #{__('Hello')}
      a.form-link(href='/'+ modulePath + '/form/') Formular
  pre#test
    = JSON.stringify(locals, null, 2)

block modallayer
  #modalLayer.modalLayer.hidden&attributes({ 'data-toggle': '#modalLayer' })
    #modalLayer-content.modalLayer-content
      + loginform()
