//- index.pug
extends ../../pages/views/page.pug

append head
  link(rel='stylesheet', href='/'+ moduleName + '/layout.css')
  script(src='/'+ moduleName + '/script.js')

block content
  div#boilerplate.boilerplate
    h1#headline.headline= module.name
    #boilerplate-container.boilerplate-container
      h2.boilerplate-headline #{__('Hello')}
      a.form-link(href='/'+ moduleName + '/form/') Formular
