//- widgets/defaults.pug

block title
  | #{module.name}

append head
  script(src='/js/login/script.js')

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/login/')= module.name

append loginStatus
  if session.userdata
    a.login-status-logout.logout(href='/login/logout/') Abmelden
