//- index.pug
extends ../../pages/views/page.pug

block content
  div#login.login
    h1#headline.headline= module.name
    #login-container.login-container
      if session.userdata
        h2 Welcome
          = ' ' + session.userdata.name
        pre#userdata= '' + JSON.stringify(session.userdata, null, 4)
      else
        h2 Login
        ul#login-list
          each oauth, name in module.oauth2
            li
              a(href=
                oauth.authorizationUri + '?' +
                oauth.clientIDParamName + '=' + oauth.clientID + '&' +
                oauth.redirectUriParamName + '=' +
                oauth.redirectUri
              )
                = 'Login with ' + name
