//- index.pug
extends ../../pages/views/page.pug

block content
  div#login.login
    h1#headline.headline= module.name
    #login-container.login-container
      h2 Unauthorized
      h3.error no code parameter found
